---
name: build

on:
  push:
    tags:
      - v*
    branches:
      - master
  pull_request:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

env:
  APP_NAME: ddqa
  PYTHON_VERSION: "3.11"
  PYOXIDIZER_VERSION: "0.24.0"

jobs:
  python-artifacts:
    name: Build wheel and source distribution
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          fetch-depth: 0

      - name: Install build frontend
        run: python -m pip install --upgrade build

      - name: Build
        run: python -m build

      - name: Upload artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4  # v5.0.0
        with:
          name: python-artifacts
          path: dist/*
          if-no-files-found: error

  binaries:
    name: ${{ matrix.job.target }} (${{ matrix.job.os }})
    needs:
      - python-artifacts
    runs-on: ${{ matrix.job.os }}
    strategy:
      fail-fast: false
      matrix:
        job:
          - target: aarch64-unknown-linux-gnu
            os: ubuntu-22.04
            cross: true
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-22.04
            cross: true
          - target: x86_64-unknown-linux-musl
            os: ubuntu-22.04
            cross: true
          - target: powerpc64le-unknown-linux-gnu
            os: ubuntu-22.04
            cross: true
          - target: x86_64-pc-windows-msvc
            os: windows-2022
          - target: i686-pc-windows-msvc
            os: windows-2022
          - target: aarch64-apple-darwin
            os: macos-15
          - target: x86_64-apple-darwin
            os: macos-15

    outputs:
      version: ${{ steps.version.outputs.version }}

    env:
      CARGO: cargo
      CARGO_BUILD_TARGET: ${{ matrix.job.target }}
      PYAPP_REPO: pyapp
      PYAPP_VERSION: "0.19.0"

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          fetch-depth: 0

      - name: Fetch PyApp
        run: >-
          mkdir $PYAPP_REPO && curl -L
          https://github.com/ofek/pyapp/releases/download/v$PYAPP_VERSION/source.tar.gz
          |
          tar --strip-components=1 -xzf - -C $PYAPP_REPO

      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v.6.1.0
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install Hatch
        uses: pypa/hatch@257e27e51a6a5616ed08a39a408a21c35c9931bc  # install

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@5d458579430fc14a04a08a1e7d3694f545e91ce6  # stable
        with:
          targets: ${{ matrix.job.target }}

      - name: Set up cross compiling
        if: matrix.job.cross
        uses: taiki-e/install-action@b9c5db3aef04caffaf95a1d03931de10fb2a140f  # v2.65.1
        with:
          tool: cross

      - name: Configure cross compiling
        if: matrix.job.cross
        run: echo "CARGO=cross" >> $GITHUB_ENV

      - name: Configure target
        run: |-
          config_file="$PYAPP_REPO/.cargo/config_${{ matrix.job.target }}.toml"
          if [[ -f "$config_file" ]]; then
            mv "$config_file" "$PYAPP_REPO/.cargo/config.toml"
          fi

      - name: Download Python artifacts
        if: ${{ !startsWith(github.event.ref, 'refs/tags') }}
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: python-artifacts
          path: dist

      - name: Configure embedded project
        if: ${{ !startsWith(github.event.ref, 'refs/tags') }}
        run: |-
          cd dist
          wheel="$(echo *.whl)"
          mv "$wheel" "../$PYAPP_REPO"
          echo "PYAPP_PROJECT_PATH=$wheel" >> $GITHUB_ENV

      - name: Build binary
        run: hatch build --target app

      # Windows installers don't accept non-integer versions so we ubiquitously
      # perform the following transformation: X.Y.Z.devN -> X.Y.Z.N
      - name: Set project version
        id: version
        run: |-
          old_version="$(hatch version)"
          version="${old_version/dev/}"

          if [[ "$version" != "$old_version" ]]; then
            cd dist/app
            old_binary="$(ls)"
            binary="${old_binary/$old_version/$version}"
            mv "$old_binary" "$binary"
          fi

          echo "version=$version" >> $GITHUB_OUTPUT
          echo "$version"

      - name: Archive binary
        run: |-
          mkdir packaging
          cd dist/app

          binary="$(ls)"

          if [[ "$binary" =~ -pc-windows- ]]; then
            7z a "../../packaging/${binary:0:-4}.zip" "$binary"
          else
            chmod +x "$binary"
            tar -czf "../../packaging/$binary.tar.gz" "$binary"
          fi

      - name: Upload staged archive
        if: runner.os != 'Linux'
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: staged-${{ matrix.job.target }}
          path: packaging/*
          if-no-files-found: error

      - name: Upload archive
        if: runner.os == 'Linux'
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: standalone-${{ matrix.job.target }}
          path: packaging/*
          if-no-files-found: error

  windows-packaging:
    name: Build Windows installers
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository
    needs: binaries
    runs-on: windows-2022

    env:
      VERSION: ${{ needs.binaries.outputs.version }}

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v.6.1.0
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install PyOxidizer ${{ env.PYOXIDIZER_VERSION }}
        run: pip install pyoxidizer==${{ env.PYOXIDIZER_VERSION }}

      - name: Download staged binaries
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          pattern: staged-*windows*
          path: archives
          merge-multiple: true

      - name: Extract staged binaries
        run: |-
          mkdir bin
          for f in archives/*; do
            7z e "$f" -obin
          done

      # bin/<APP_NAME>-<VERSION>-<TARGET>.exe -> targets/<TARGET>/<APP_NAME>.exe
      - name: Prepare binaries
        run: |-
          mkdir targets
          for f in bin/*; do
            if [[ "$f" =~ ${{ env.VERSION }}-(.+).exe$ ]]; then
              target="${BASH_REMATCH[1]}"
              mkdir "targets/$target"
              mv "$f" "targets/$target/${{ env.APP_NAME }}.exe"
            fi
          done

      - name: Build installers
        run: >-
          pyoxidizer build windows_installers
          --release
          --var version ${{ env.VERSION }}

      - name: Prepare installers
        run: |-
          mkdir installers
          mv build/*/release/*/*.{exe,msi} installers

      - name: Upload binaries
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: standalone-win
          path: archives/*
          if-no-files-found: error

      - name: Upload installers
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: installers-win
          path: installers/*

  macos-packaging-signed:
    name: Build macOS installer and sign/notarize artifacts on protected branch/tag
    if: github.event_name == 'push'
    needs: binaries
    runs-on: macos-15
    environment:
      name: protected

    env:
      VERSION: ${{ needs.binaries.outputs.version }}

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - name: Build and sign macOS package
        uses: ./.github/actions/build-macos-package
        with:
          version: ${{ env.VERSION }}
          app-name: ${{ env.APP_NAME }}
          python-version: ${{ env.PYTHON_VERSION }}
          pyoxidizer-version: ${{ env.PYOXIDIZER_VERSION }}
          apple-certificate: ${{ secrets.APPLE_DEVELOPER_ID_APPLICATION_CERTIFICATE }}
          apple-private-key: ${{ secrets.APPLE_DEVELOPER_ID_APPLICATION_PRIVATE_KEY }}
          apple-api-key: ${{ secrets.APPLE_APP_STORE_CONNECT_API_DATA }}

  macos-packaging-unsigned:
    name: Build macOS installer without signing
    if: github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository
    needs: binaries
    runs-on: macos-15

    env:
      VERSION: ${{ needs.binaries.outputs.version }}

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - name: Build macOS package
        uses: ./.github/actions/build-macos-package
        with:
          version: ${{ env.VERSION }}
          app-name: ${{ env.APP_NAME }}
          python-version: ${{ env.PYTHON_VERSION }}
          pyoxidizer-version: ${{ env.PYOXIDIZER_VERSION }}
          should-sign: 'false'

  publish:
    name: Publish release
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
    needs:
      - python-artifacts
      - binaries
      - windows-packaging
      - macos-packaging-signed
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write

    steps:
    - name: Download Python artifacts
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        name: python-artifacts
        path: dist

    - name: Download binaries
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        pattern: standalone-*
        path: archives
        merge-multiple: true

    - name: Download installers
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        pattern: installers-*
        path: installers
        merge-multiple: true

    - name: Push Python artifacts to PyPI
      uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
      with:
        skip-existing: true

    - name: Add assets to current release
      uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
      with:
        files: |-
          archives/*
          installers/*
