name: publish docs

on:
  workflow_dispatch:
  push:
    tags:
    - v*

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  docs:
    uses: ./.github/workflows/docs.yml

  publish:
    name: Publish documentation
    runs-on: ubuntu-latest
    needs:
    - docs

    steps:
    - uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0  # v5.0.0
      with:
        name: documentation
        path: site

    - uses: peaceiris/actions-gh-pages@47f197a2200bb9de68ba5f48fad1c088eb1c4a32  # v4.0.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: site
