name: publish docs

on:
  workflow_dispatch:
  push:
    tags:
    - v*

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  docs:
    uses: ./.github/workflows/docs.yml

  publish:
    name: Publish documentation
    runs-on: ubuntu-latest
    needs:
    - docs

    steps:
    - uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0  # v5.0.0
      with:
        name: documentation
        path: site

    - uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e  # v4.0.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: site
